@font-face {
   font-family: 'Mont-Bold';
   font-display: swap;
   src: url('Mont-Bold/font.ttf');
}
@font-face {
   font-family: 'Mont-Regular';
   font-display: swap;
   src: url('Mont-Regular/font.ttf');
}
