@font-face {
   font-family: 'Mont-Regular';
   font-display: swap;
   src: url('file:///Users/volkovecom/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-06-12_172651/fonts/Mont-Regular/font.ttf');
}
