@font-face {
   font-family: 'GrandisCondensed-Medium';
   font-display: swap;
   src: url('file:///Users/admin/Library/Mobile%20Documents/com~apple~CloudDocs/Documents/GitHub/pokerpay.github.io/fonts/GrandisCondensed-Medium/font.ttf');
}
