@font-face {
   font-family: 'GrandisCondensed-Light';
   font-display: swap;
   src: url('file:///Users/admin/Library/Mobile%20Documents/com~apple~CloudDocs/Documents/GitHub/pokerpay.github.io/fonts/GrandisCondensed-Light/font.ttf');
}
